.rounded{
  border-radius: 10px;
}
.icon{
  //color: #50577D;
  position: absolute;
  bottom: 7%;
  right: 3%;
}
.name{
  font-size: 16px;
  color: #50577D;
  font-weight: normal;


}

.fill{
  border: 1px solid white;
}
.green{
  padding: 5px 10px;
  color:white;
  background-color: #2dd36f;
  border-radius: 5%;
}
.orange{
  padding: 5px 10px;
  color:white;
  background-color: #ffc409;
  border-radius: 5%;
}
.red{
  padding: 5px 10px;
  color:white;
  background-color:#eb445a;
  border-radius: 5%;
}
