.rounded{
  border-radius: 10px;
}
.icon{
  //color: #50577D;
  position: absolute;
  bottom: 7%;
  right: 3%;
}
.name{
  font-size: 16px;
  color: #50577D;
  font-weight: normal;


}

.fill{
  border: 1px solid white;
}
