<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/tab4" text="zpět" color="primary" class="ion-float-left"></ion-back-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar class="ion-margin">

    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="avatar">

  </ion-avatar>

    <ion-input type="file" class="file" aria-label="File browser example" [(ngModel)]="avatar"
               accept="image/png, image/jpg"
               (change)="onFileSelected($event)"></ion-input>
    <p class="ion-text-center zmena" *ngIf="!nahrano">Změnit profilovou fotku</p>
    <p class="ion-text-center zmena" *ngIf="nahrano">Obrázek byl nahrán</p>

  <h1 class="ion-text-center">{{jmeno}} {{prijmeni}}</h1>
  <p class="ion-text-center pismo ion-no-margin ion-margin-bottom">{{email}}</p>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Jméno</ion-label>
      <ion-input  [(ngModel)]="jmeno" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Příjmení</ion-label>
      <ion-input [(ngModel)]="prijmeni" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button type="button" (click)="updateUser()" shape="block" expand="block">Uložit změny</ion-button>
</ion-content>
