<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/tab4" text="zpět" color="primary" class="ion-float-left"></ion-back-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="ion-margin">

    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="avatar">

  </ion-avatar>
  <p class="ion-text-center zmena" >Změnit profilovou fotku</p>
  <h1 class="ion-text-center">Jméno Příjmení</h1>
  <p class="ion-text-center pismo ion-no-margin ion-margin-bottom">email@seznam.cz</p>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="floating">Jméno</ion-label>
      <ion-input  type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Příjmení</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
