<ion-content class="ion-padding-top">
  <ion-back-button defaultHref="/tabs/tab1" text="" color="light" class="ion-float-left paddingl"></ion-back-button>
  <button (click)="addFavouriteRecept()" class="ion-float-right paddingr">
    <ion-icon *ngIf="heart" name="heart" color="light"></ion-icon>
    <ion-icon *ngIf="!heart" name="heart-outline" color="light"></ion-icon>
  </button>

  <div id="content-fit"> <!-- Je zde kvůli přechodu barev, aby nevnikal bug -->
    <img class="picture"
        src="{{_apiService.getUrl('/' + hlavniObrazek)}}"
         alt="jídlo">
    <div class="pozice">
      <div class="description ion-padding">
        <h1 class="name ion-padding-start">{{nazev}}</h1>
        <h2 class="title ion-padding-start">{{popisek}}</h2>
        <ion-segment (ionChange)="segmentChanged($event)" [value]="showData" class="ion-padding">
          <ion-segment-button value="description">
            <ion-label>Postup</ion-label>
          </ion-segment-button>
          <ion-segment-button value="ingredients">
            <ion-label>Ingredience</ion-label>
          </ion-segment-button>
          <ion-segment-button value="pictures">
            <ion-label>Informace</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div *ngIf="showData === 'description'">
          <p class="ion-padding descriptiondetail">{{postup}}
          </p>
        </div>
        <div *ngIf="showData === 'ingredients'">
          <p class="ion-padding  descriptiondetail">{{ingredience}}</p>
        </div>
        <div *ngIf="showData === 'pictures'" class="ion-padding-start">
          <div class="ion-padding-top"><h3 class="ion-padding-top info element1">Autor:</h3>
            <p class="element2 ion-no-padding ion-no-margin">{{jmeno}} {{prijmeni}} </p></div>
          <div class="ion-no-padding ion-no-margin"><h3 class="info element1">Kategorie:</h3>
            <p class="element2 ion-no-padding ion-no-margin">{{name}}</p></div>
          <div><h3 class="info element1">Obtížnost:</h3>
            <p *ngIf="obtiznost==='1'" class="element2 ion-no-padding ion-no-margin">Lehká</p>
            <p *ngIf="obtiznost==='2'" class="element2 ion-no-padding ion-no-margin">Pokročilá</p>
            <p *ngIf="obtiznost==='3'" class="element2 ion-no-padding ion-no-margin">Náročná</p></div>
          <h3 class="info ion-no-padding ion-no-margin element1">Recepty od tohoto autora</h3>
          <ion-item  class="ion-padding-end" lines="inset" *ngFor="let recept of receptyautora; let i=index" [routerLink]="['/detailpage/', recept.id]">
            <ion-label>
              <h5>{{i+1}}. {{recept.nazev}}</h5>
            </ion-label>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
  <br>
</ion-content>


